body {
  box-sizing: border-box;
  background: rgba(245, 196, 196, 1);
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 30px;
}

#main_form {
  display: flex;
  justify-content: space-around;
}
tr {
  margin: 70px;
}
td {
  font-size: 20px;
}

.form {
  margin: 0 30px;
}

.small_margin_bottom {
  margin-bottom: 10px;
}
